.move-preview{
    // background: linear-gradient(rgba(0, 0, 0, 0.048),rgba(0, 0, 0, 0.25));
    .details{
        display: flex;
        flex-flow: column;
        padding: 7px 20px;
        .to{
            color: white;
            font-weight: 100;
            margin-bottom: 5px;
        }
        .amount{
            font-size: 1.1em;
            color: rgb(182, 255, 47);
            &-converted{
                color: rgb(108, 135, 158);
            }
        }
        .status{
            .pending{
                color: var(--priamry); 
            }
            .approve{
                color: var(--secondary);;
            }
        }
        .at{
            font-weight: normal;
            font-size: 0.75em;
            color: rgba(255, 255, 255, 0.548)
        }
    }
}