.contact-edit {
  position: relative;
  width: 100%; }
  .contact-edit-header {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 0 15px;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.794);
    border-bottom: 1px solid rgba(8, 8, 10, 0.5); }
  .contact-edit .contact-edit-body {
    background: linear-gradient(rgba(1, 17, 31, 0.7), rgba(255, 255, 0, 0));
    border-top: 1px solid #252525;
    padding-top: 60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #252525; }
    .contact-edit .contact-edit-body img {
      border-radius: 50%; }
  .contact-edit .contact-edit-form {
    margin-top: 25px;
    width: 85%; }
  .contact-edit .form-group {
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: start; }
    .contact-edit .form-group input {
      font-family: 'Lato', sans-serif;
      border: 1px solid rgba(8, 8, 10, 0.5);
      background-color: rgba(8, 8, 10, 0.5);
      color: white;
      padding: 0 15px;
      width: 100%;
      height: 46px;
      border-radius: 5px;
      margin-bottom: 4px;
      box-sizing: border-box;
      transition: all 150ms; }
      .contact-edit .form-group input:focus {
        outline: none;
        border: 1px solid rgba(14, 187, 255, 0.87);
        box-shadow: 0 0 15px rgba(14, 187, 255, 0.377); }
  .contact-edit .form-actions-container {
    text-align: right; }
    .contact-edit .form-actions-container button {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      background: var(--priamry);
      color: white;
      border: none;
      padding: 15px 40px;
      border-radius: 5px;
      cursor: pointer; }
