.contact-preview {
  display: flex;
  position: relative;
  height: 55px;
  width: 100%;
  font-size: 0.90em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.171); }
  .contact-preview .details {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .contact-preview .details * {
      margin-bottom: 3px; }
    .contact-preview .details .phone {
      color: rgba(255, 255, 255, 0.37);
      font-size: 0.8em; }
  .contact-preview img {
    height: 100%;
    box-sizing: border-box;
    margin: 0 10px;
    border-radius: 50%; }
