.contact-filter {
    height: 100%;
    input {
        width: 100%;
        height: 100%;
        padding: 0 17px;
        font-size: 1em;
        box-sizing: border-box;
        border: none;
        color: rgb(221, 225, 238);
        background-color: rgba(0, 0, 0, 0.794);

        &:focus{
            outline: none;
        }
    }
}